/* Estilo geral do corpo */
.body {
    
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('Imagem/ipe.jpg'); /* Caminho da imagem de fundo */
        background-size: cover; /* Ajusta a imagem para cobrir o fundo */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat; /* Não repete a imagem */
        background-attachment: fixed; /* Imagem fixa durante o rolar da página */
        color: white;
        text-shadow:1px 1px 1px rgb(155, 155, 155); /* Sombra do texto */
    
}

/* Contêiner principal */
.container {
    display: flex;
}

/* Menu lateral */
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* Conteúdo principal */
.content {
    flex: 1;
    padding: 20px;
}

/* Galeria de imagens */
.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: white;
   
}
    
